<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/layuimini/css/public.css" media="all">
    <script src="/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/layuimini/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
    <script src="/js/utils.js" charset="utf-8"></script>
</head>
<body>