
version: '3'
services:

  mysql:
    image: mysql:5.7
    user: root
    privileged: true
    restart: always
    ports:
      - 127.0.0.1:23306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./docker-data/mysqldata:/var/lib/mysql

  # postgres:
  #   image: postgres
  #   restart: always
  #   environment:
  #     POSTGRES_DB: test
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #   ports:
  #     - 127.0.0.1:25432:5432

  #   volumes:
  #     - ./docker-data/postgresdata:/var/lib/postgresql/data


  redis:
    image: redis
    restart: always
    command: [redis-server]
    ports:
      - 127.0.0.1:26379:6379


 
