.mtop10 {margin-top: 10px;}
.bold {font-weight: bolder;}

.content {
  display: flex;
  padding: 10px;

  .left{
    flex: 1;
    .kline-chart {
        min-height: 500px;
        background-color: red;
    }
    .user-form{
        height: 200px;
        background-color: red;
        
    }
  }
  .right{
    margin-left: 10px;
    width: 500px;
    min-width: 500px;
    .orderbook{
        min-height: 500px;
        background-color: aqua;

        .orderbook-title {
            display: block;
            font-size: 16px;
            height: 20px;
            width: 100%;
            font-weight: bolder;
            text-align: center;
        }
        
        .ask {
            height: 225px;
            background-color: gray;
            display: flex;
            flex-direction: column-reverse;
        }
        .latest-price{
            display: block;
            text-align: center;
            height: 30px;
        }
        .bid {
            background-color: gray;
            height: 225px;
        }
    }
    .tradehistory{
        background-color: aqua;
        height: 200px;
    }
  }
}
